*.npz
*.pkl
*.csv
*.json
*.log
__pycache__/
.ipynb_checkpoints/
data/
datasets/
outputs/
checkpoints/
*.h5
*.hdf5
wandb/
nohup.out
*.pt
*.pth
*.ckpt
dataset/
results/
*.bin
*.model
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico